body {
  font-family: 'EB Garamond', serif;
}
/*HEADER*/
.navbar{
  width: 100%;
  max-height: 150px;
}
.navbar > .container-fluid{
  padding: 0px 80px 0px;  
}
.navbar-brand{
  text-decoration:none;
}
.navbar-brand img{
  object-fit: cover;
  width: 150px;
}
.navbar-light .navbar-brand,.navbar-light .navbar-brand:hover,.navbar-light .navbar-brand:focus {
  color:#64ad00 ;
  font-size: 3em ;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px #0f7480;
}
.navbar .btn-outline-light{
  background-color: rgba(0,0,0,0);
  border:0px;
  color: rgba(0,0,0,0);
  border-color: #fff;
}
.navbar .nav-link{
  margin-right: 50px;
  background-color: gray;
  text-align:center;
  line-height: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.navbar .nav-link path{
  fill:white;
}
.menu{
  font-weight: bold;
  color: #64ad00;
  font-family: 'Poppins', sans-serif;;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.collapse-menu-btn.active.focus, .collapse-menu-btn.active:focus, .collapse-menu-btn.focus, .collapse-menu-btn.focus:active, .collapse-menu-btn:active:focus, .collapse-menu-btn:focus {
  outline: thin dotted;
  outline-offset: -2px;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*Collapsable Menu*/
.collapse.in:not(.show) {
  display: block;
}
.collapse:not(.show) {
  display: none;
}
.menu-overlap.container-fluid{
  padding: 0px;
  background-color: white;
  align-items: center;
  background-color: #ddd;
}
.menu-overlap .navbar-nav{
  align-items: center;
}
.menu-overlap .navbar-nav li{
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}
#menu-items a{
  color: #0f7480;
}
#menu-items a:hover{
  color: #64ad00;
}
.menu-overlap .navbar-nav .nav-link{
  margin-right: 0px;
}
.hidden-md{
  display: none;
}

/*MAIN CONTENT*/
#main-content.container-fluid{
  padding:0px;
}
.jumbotron > img{
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.sub-menu {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  list-style-type: none;
  margin: 0px auto;
  padding: 0;
  overflow: hidden;
  background-color: #0f7480;
}
.sub-menu-item {
  display: inline-block;
}
.sub-menu-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: bold;
}
.sub-menu-item a:hover {
  color: #64ad00;
}
.bar { 
  font-size: 15px; 
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.row{
  margin: 0px;
  padding: auto;
}
.scrollcard-row{
  background-color: #ddd;
  text-align: center;
  
}
.card {
  border: 7px solid #ddd;
  white-space:normal;
  margin: 10px 10px;
  border-radius: 7px;  
  text-align: left;
  font-size: 1.2rem;
  padding: 0;
  height: 400px;
}
.card .date {
  font-size: 0.8rem;
  color: #ddd;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  max-height: 20px;
}
.card p{
  overflow: scroll;
  line-height: 20px;
  max-height: 50px;
}
.card .btn{
  background-color: #0f7480;
  border-color: #0f7480;
  color: white;
}
.card:hover{
  border-color: #64ad00; 
  transition: .3s ease;
}
.card:not(:hover){
  border-color: #ddd; 
  transition: .3s ease;
}
.card img{
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.card .img-title{
  padding: 10px;
  bottom: 0px;
  position: absolute;
}
.card-body {
   padding: 10px;
}
.scrollcards {
  overflow: auto;
  white-space: nowrap;
  padding: 20px 12px;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}
div.scrollcards .card {
    display: inline-block;
    border-radius: 0;
    padding: 0px;
    text-decoration: none;
    height: 350px; 
    width: 18rem;
    position: relative;
}
.more-btn{
  width: auto;
  background-color: #ddd;
  border-color: #ddd;
  color: #0f7480;
  font-size: 1.5em;
  padding-top: 0;
  margin: auto;
}
.more-btn:hover{
  background-color: #ddd;
  border-color: #ddd;
  color: #64ad00;
}
.facts-gallery{
  background-color: #0f7480;
}
.facts-gallery .row{
  padding: 0;
}
.facts-gallery img{
  object-fit: cover;
  width: 100%;
  height: 300px;
  opacity: 0.5;
}
.col-xl-12, .col-xl-6, .col-xl-3, .col-md-12, .col-md-6, .col-md-4{
  padding: 0px;
  position: relative;
  text-align: center;
}
.fact{
  text-transform: capitalize;
  font-size: 2.5em;
}
.credit{
  text-transform: uppercase;
}
.text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.title{
  text-align: center;
  padding: 40px 15%;
  background-color: #ddd;
}
.title h2{
  font-size: 4em;
  text-transform: capitalize;
}
.title p{
  color: #0f7480;
  font-size: 1.2em;
}
.title hr{
  color: #0f7480;
  height: 3px;
}
.img-title{
  background-color: rgb(15, 116, 128, 0.5);
  padding: 30px;
  color: white;
  line-height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
  text-align:  left;
}
.read-item{
  overflow: hidden;
}
#read img{
  transition: 0.3s ease;
  width: 100%;
  object-fit: cover;
  height: 400px;
}
#read img:hover{
  transform: scale(1.05);
}

/*FOOTER*/

.panel-footer{
  background-color: white;
  text-align: center;
  margin: 30px 0;
  font-family: 'Poppins', sans-serif;
}
.visible-xs{
  display: none;
}
.visible-sm{
  display: none;
}
@media all and (max-width: 992px){
  .navbar-brand img{
    width: 100px;
  }
  .hidden-md{
    display: inline-block;
  }
  .navbar-light .navbar-brand,.navbar-light .navbar-brand:hover,.navbar-light .navbar-brand:focus {
    font-size: 2em ;
  }
  .navbar > .container-fluid{
    padding: 0px 30px 0px;  
  }
  .sub-menu-item{
    float: none;
    display: block;
  }
  .jumbotron img{
    height: 200px;
  }
  .bar{
    display: none;
  }
  .text-block {
    font-size: 0.7em;
  }
}
@media all and (max-width: 768px){
  
  .visible-sm{
    display: block;
  }
}
@media all and (max-width: 479px){
  .hidden-md{
    display: inline-block;
  }
  .navbar-brand img{
    width: 50px;
  }
  .navbar-light .navbar-brand,.navbar-light .navbar-brand:hover,.navbar-light .navbar-brand:focus {
    font-size: 1.5em ;
  }
  .navbar > .container-fluid{
    padding: 0px 10px 0px;  
  }
  .menu-overlap .navbar-nav li{
    margin-top: 10px;
    font-size: 1em;
  }
  .visible-xs{
    display: block;
  }
  .card{
    font: 0.8em;
  }
  div.scrollcards .card{
    width: 15rem;
  }
  .sub-menu-item a{
    padding: 10px;
  }

}
