/*HEADER*/
.navbar{
  width: 100%;
  max-height: 150px;
}
.navbar > .container-fluid{
  padding: 0px 80px 0px;  
}
.navbar-brand{
  text-decoration:none;
}
.navbar-brand img{
  object-fit: cover;
  width: 150px;
}
.navbar-light .navbar-brand,.navbar-light .navbar-brand:hover,.navbar-light .navbar-brand:focus {
  color:#64ad00 ;
  font-size: 3em ;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px #0f7480;
}
.navbar .btn-light{
  background-color: rgba(0,0,0,0);
  border:0px;
  color: rgba(0,0,0,0);
}
.navbar .nav-link{
  margin-right: 50px;
  background-color: gray;
  text-align:center;
  line-height: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.navbar .nav-link path{
  fill:white;
}
.menu{
  font-weight: bold;
  color: #64ad00;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*Collapsable Menu*/
.collapse.in:not(.show) {
  display: block;
}
.collapse:not(.show) {
  display: none;
}
.menu-overlap.container-fluid{
  padding: 0px;
  background-color: white;
  align-items: center;
}
.menu-overlap .navbar-nav{
  align-items: center;
}
.menu-overlap .navbar-nav li{
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}
#menu-items a{
  color: #0f7480;
}
#menu-items a:hover{
  color: #64ad00;
}
.menu-overlap .navbar-nav .nav-link{
  margin-right: 0px;
}
.hidden-md{
  display: none;
}

/*MAIN CONTENT*/
#main-content.container-fluid{
  padding:0px;
}
.jumbotron > img{
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.sub-menu {
  text-align: center;
  list-style-type: none;
  margin: 0px auto;
  padding: 0;
  overflow: hidden;
  background-color: #0f7480;
}
.sub-menu-item {
  display: inline-block;
}
.sub-menu-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: bold;
}
.sub-menu-item a:hover {
  color: #64ad00;
}
.bar { 
  font-size: 15px; 
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
/* .carousel{
  height: 500px;
  background-color: #ddd;
}
.carousel a span{
  color: #0f7480;
} */
.row{
  margin: 0px;
  padding: auto;
}
.card {
  border: 2px solid #64ad00;
  margin: 10px 10px;
  transition: .6s ease;
  border-radius: 7px;  
}
.card p{
  white-space:normal;
  height: 100px;
  overflow: scroll;
}
.card .btn{
  background-color: #0f7480;
  border-color: #0f7480;
  color: white;
}
.card .btn:hover{
  color: #64ad00;
}
.card img{
  max-height: 100px;
  object-fit: cover;
}
.card:hover {
  transform: scale(1.05);
}
.card-body {
   padding: 10px;
}
.scrollcards {
  background-color: #ddd;
  overflow: auto;
  white-space: nowrap;
  padding: 20px 12px;
  text-align: center;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}
div.scrollcards .card {
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    height: auto; 
    width: 18rem;
}
/*FOOTER*/
.panel-footer{
  background-color: white;
}
.panel-footer section{
  text-align: center;
  margin-bottom: 20px;
}
.panel-footer .text-center{
  padding-bottom: 20px;
}
.panel-footer hr{
  width: 50%;
}
.visible-xs{
  display: none;
}
@media all and (max-width: 992px){
  .navbar-brand img{
    width: 100px;
  }
  .hidden-md{
    display: inline-block;
  }
  .navbar-light .navbar-brand,.navbar-light .navbar-brand:hover,.navbar-light .navbar-brand:focus {
    font-size: 2em ;
  }
  .navbar > .container-fluid{
    padding: 0px 30px 0px;  
  }
  .sub-menu-item{
    float: none;
    display: block;
  }
  .jumbotron img{
    height: 200px;
  }
  .bar{
    display: none;
  }
}
@media all and (max-width: 479px){
  .hidden-md{
    display: inline-block;
  }
  .navbar-brand img{
    width: 50px;
  }
  .navbar-light .navbar-brand,.navbar-light .navbar-brand:hover,.navbar-light .navbar-brand:focus {
    font-size: 1em ;
  }
  .navbar > .container-fluid{
    padding: 0px 10px 0px;  
  }
  .menu-overlap .navbar-nav li{
    margin-top: 10px;
    font-size: 1em;
  }
  .panel-footer section{
    margin-bottom: 20px;
    font-size: 0.7em;
    margin-bottom: 10px;
  }
  .panel-footer .text-center{
    font-size: 0.7em;
    padding-bottom: 10px;
  }
  .visible-xs{
    display: block;
  }
  .card p{
    white-space:normal;
    height: 80px;
  }
  div.scrollcards .card{
    width: 15rem;
    padding: 10px;
  }
  .sub-menu-item a{
    padding: 10px;
  }
  .card img{
    max-height: 80px;
    object-fit: cover;
  }
}
